h1 {
  color: rgb(255,255,255);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 44px;
  font-weight: 400;
  text-align: center;
  margin: 0px;
}

h2 {
  color: rgb(194,75,21);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

h3 {
  color: rgb(198,107,41);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.head {
  background-image: url('/img/head.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 16em;
  line-height: 16em;
  align-content: center;
  margin: 0px;
  padding: 0px;
}

.lede {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

a {
  color: rgb(30,30,80);
  text-decoration: underline dotted rgb(210,210,210);
}

a:hover {
  color: orange;
  text-decoration: underline;
}


.l-box {
  padding: 3em;
}
